body{
margin: 0;
padding: 0;
margin-right: 0xp;
}
.header-info{
    background-color: #f0f1f3;
    height: 40px;
    display: flex;
}
.container{
    display: flex;
    width: 1021px;
    margin: 0 auto;
    
    align-items: center;

}
.cont-hi{
    justify-content: flex-end;
   
}
.cont-si{
    display: block;
}
.mobile{
    margin-right: 11px;
    font-size: 18px;
    color:#424242;
}
.mobile-number{
    font-family: "Roboto",sans-serif;
color:#424242;
font-size: 15px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;

}
.border-line-in-header-info{
    height: 40px;
    background-color: lightgray;
    margin-left: 20px;
    margin-right: 20px;
    width: 1px;
    
}
.letter{
    color:#424242;
    margin-right: 8px;
    font-size: 20px;
}
.cont-900{
    width: 900px;
}
.email{
    font-family: "Roboto",sans-serif;
color:#424242;
font-size: 15px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;

}
.facebook-item{
    
color:#1287bf;
font-size: 29px;
margin-left: 12px;
}
.header-nav{
    position: sticky;
    height: 131px;
    display: flex;
    align-items: center;
    position: sticky;
}
.first-line-in-txt-logo{
    font-family: "Roboto",sans-serif;
color:#424242;
font-size: 37px;
font-weight: 700;

}
.second-line-in-txt-logo{
    font-family: "Roboto",sans-serif;
color: #424242;
font-size: 15px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;

}
.logo-in-header-nav{
    display: flex;
    align-items: center;
    height: 131px;
}
.element-of-main-nav-bar{
    cursor: pointer;
    text-transform: capitalize;
    font-family: "Roboto",sans-serif;
color:#424242;
font-size: 15px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: left;
}

.hover-red:hover{
    color: #de2b24;
}
.element-of-main-nav-bar:nth-child(1){
    list-style-type: none;
}

.img-logo{
    margin-right: 15px;
}
.main-nav-bar{
    display: flex;
    width: 372px;
    justify-content: space-between;

}
.point-circle{
    font-size: 5px;
}
.main-nav-bar li{
    padding-left: 10px;
}
.right-part-of-header-nav{
    display: flex;
    justify-content: flex-end;
    height: 131px;
    width: 784px;
    align-items: center;
}
.btn-in-nav-bar-main{
    border-radius: 4px;
background-color:#de2b24;
width: 171px;
height: 36px;
margin-left: 35px;
display: flex;
align-items: center;
justify-content: center;
font-family: "Roboto",sans-serif;
color:#ffffff;
font-size: 15px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-transform: capitalize;
cursor: pointer;
}
.site-intro{
    background-image: url(section-background.jpg);
    height: 415px;
  
    padding-top: 165px;
    
}
.title{
    text-transform: capitalize;
    font-family: "Roboto",sans-serif;
color:#ffffff;
font-size: 48px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
display: flex;
justify-content: center;
margin-bottom: -5px;
}
.under-title{
    font-family: "Roboto",sans-serif;
color:#ffffff;
font-size: 30px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
display: flex;
justify-content: center;
margin-block-start: 0px;
margin-block-end: 0px;
margin-bottom: 31px;
}
.btn-in-intro-of-the-site{
    border-radius: 5px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
color:#ffffff;
font-size: 23.76px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
    background-color:#f8cd53;
width: 330px;
height: 69px;
display: flex;
justify-content: center;
align-items: center;
}
.block-of-telling-about-us{
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}
.title-of-section{
    margin-top: 101px;
    font-family: "Roboto",sans-serif;
color:#424242;
font-size: 36px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
text-transform: capitalize;
}
.note-under-title-of-dection{
    font-family: "Roboto",sans-serif;
color:#424242;
font-size: 20px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;

text-align: center;
margin-bottom: 13px;
}
.underline-under-title-of-section{
    background-color:#424242;
width: 47px;
height: 5px;
margin: auto;
}
.img-in-element-of-block-aref{
    display: flex;
    justify-content: center;
    height: 81px;
}
.title-of-block-of-us{
    margin-top: 27px;
    font-family: "Roboto",sans-serif;
color:#424242;
font-size: 22px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
}
.txt-in-block-about-us{
    font-family: "Roboto",sans-serif;
color:#5c5c5c;
font-size: 13.5px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 22px;/* Приближение из-за подстановки шрифтов */
text-align: center;
margin-top: 14px;
}
.element-of-block-area{
    width: 228px;
}
.white{
    color: white;
}
.whitex{

    margin-top: 0;
    color: white;
    text-transform: none;
}
.fs29{
    font-size: 29px;
}
.ourwork{
    background: #de2b24;
    padding-top: 101px;
    padding-bottom: 129px;
    margin-top: 132px;
}
.white-bg{
    background: white;
}
.line-im-gallery{
    height: 253px;
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
}
.plane{
    text-align: center;
    font-size: 36px;
    opacity: 0.6;
    color: white;
}
.element-of-gallery-without-photo{
    background-color:
#f35e59;
width: 255px;
height: 253px;
display: flex;
align-items: center;
justify-content: center;
}

.title-of-element-of-gallery{
    margin-top: 19px;
    font-family: "Roboto",sans-serif;
color:#ffffff;
font-size: 26px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
text-transform: capitalize;
}
.note-in-element-of-gallery{
    font-family: "Roboto",sans-serif;
color:
#ffffff;
font-size: 16px;/* Приближение из-за подстановки шрифтов */
font-weight: 500;
text-align: center;
}
.gallery-in-our-service{
    margin-top: 47px;
}
.get-in-touch{
    padding-bottom: 84px;
    padding-top: 85px;
    background-color: #2a2a2a;
}
.nav-social-network{
    margin: 25px auto 0;
    display: flex;
    width: 256px;
    justify-content: space-between;
}
.element-of-social-network{
    border-radius: 1px;
border-style: solid;
border-width: 2px;
border-color: #515151;
background-color:
rgba(243, 243, 243, 0);
width: 45px;
height: 45px;
font-size: 20px;
color: white;
display: flex;
justify-content: center;
align-items: center;
}
.element-of-social-network:hover{
    border-color: #de2b24;
}
.note-in-get-in-toutch{
    margin-top: 30px;
    font-family: "Roboto",sans-serif;
color:#cecece;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 22px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.input-email{
    border-radius: 1px;
background-color:#515151;
width: 660px;
height: 54px;
border: none;
font-family: "Roboto",sans-serif;
color:
#cecece;

font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 22px;/* Приближение из-за подстановки шрифтов */
text-align: left;
padding-left: 22px;

}
.align-center-input{
    margin-top: 31px;
    display: flex;
    justify-content: center;
}
form{
  
}
.input-submit{

    cursor: pointer;
    margin: 22px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
border-style: solid;
border-width: 2px;
border-color:
#515151;
background-color:
rgba(243, 243, 243, 0);
width: 153px;
height: 53px;
font-family: "Roboto",sans-serif;
color:#ffffff;
font-size: 17px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
line-height: 22px;/* Приближение из-за подстановки шрифтов */
text-align: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto",sans-serif;
color:
#cecece;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 27px;/* Приближение из-за подстановки шрифтов */
background-color:
#515151;

height: 67px;
text-align: center;
}
